/* En este archivo escriban su CSS */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* font-family: 'Lato', sans-serif; */



/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

body {
    background-color: #fbfbfb;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

header {
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 5px 0 10px rgba(0,0,0,.6);
    position:fixed;
    padding: 20px;
}

.logo {
    width: 75px;
    border-radius: 50%;
}   



/* Para quitar los puntos a los items de listas */
header ul {
    list-style: none;
    display: flex;
}

header a  {
    padding: 0 15px;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */


a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
#inicio, #contacto {
    max-width: 1200px;
    min-height: 100vh;
    padding: 100px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.soy-jus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.soy-jus img {
    border-radius: 50%;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    margin: 15px 0;
}

p {
    padding: 20px 50px;
    text-align: center;
    line-height: 1.2;
}

.soy-jus a {
    background-color: #af599e;
    color: #fbfbfb;
    font-size: 20px;
    padding: 5px 12px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ************************************ */

.hablemos {
    background-color: rgba(175, 89, 158, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

h2 {
    font-size: 28px;
    padding: 20px 0;
}


.iconos ul {
    list-style: none;
}

.iconos li {
    display:inline;
    justify-content:space-evenly ;
}

.iconos img {
    width: 60px;
    margin: 40px 20px;
    padding: 5px;
    }

.iconos img:hover {
    
    border: solid;
    border-color: #af599e;
    border-radius: 5px;    

}

footer {
    background-color: #af599e;
    color: #fbfbfb;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
